<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Express Handlebars Portfolio</title>
</head>
<header> 
    <h1>Marco Capurri's Portfolio</h1>
</header>
<body>



{{{body}}}     




</body>
 <footer>&copy; 2020 M.Capurri</footer>
</html>